{% extends 'base.html' %}
{% load static %}
{% load social_share %}
{% load filters %}

{% block title %}
  home
{% endblock title %}
  
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">

    <title>Stand CSS Blog by TemplateMo</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static '/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static '/css/templatemo-stand-blog.css' %}">
    <link rel="stylesheet" href="{% static '/css/owl.css' %}">
<!--

TemplateMo 551 Stand Blog

https://templatemo.com/tm-551-stand-blog

-->
  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    {% comment %} <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>   {% endcomment %}
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="index.html"><h2>Stand Blog<em>.</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="index.html">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="about.html">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="blog.html">Blog Entries</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="post-details.html">Post Details</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html">Contact Us</a>
              </li>
              {% if request.user.is_authenticated %}
                <li class="nav-item">
                <div class="d-flex">
                  {% if request.user.is_authenticated %}
                    {% if user.profile.image %}
                      <img src="{{user.profile.image.url}}" width="20px" height="20px" style="border-radius: 100%;" alt="">
                      {% else %}
                      <img src="{% static 'images/default.jpg' %}" width="20px" height="20px" style="border-radius: 100%;">
                    {% endif %}
                    <a class="nav-link">{{user.profile}}</a>
                    <a class="nav-link bg-danger" href="{% url 'logout' %}">logout</a>
                  {% endif %}
                </div>
              </li>
              {% else %}
              <div class="d-flex">
                <li class="nav-item">
                  <a class="nav-link text-danger" href="{% url 'register' %}">SignUp</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">SignIn</a>
                </li>
              </div>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
{% block content %}
  <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="main-banner header-text">
      <div class="container-fluid">
        <div class="owl-banner owl-carousel">
            {% for article in articles %}
              <div class="item">
                {% if article.image %}
                  <img src="{{ article.image.url }}">
                {% endif %}
                <div class="item-content">
                  <div class="main-content">
                    <div class="meta-category">
                      <span>{{article.category.first}}</span>
                    </div>
                    
                    {% if article.slug %}
                    <a href="{% url 'single-article' article.slug %}"><h4>{{ article.title }}</h4></a>
                    {% else %}
                    <a href="{% url 'single-article' article.id %}"><h4>{{ article.title }}</h4></a>
                    {% endif %}
                      
                    <ul class="post-info">
                      <li><a href="#">{{ article.author.username }}</a></li>
                      <li><a href="#">{{ article.created_at }}</a></li>
                      <li><a href="#">12 Comments</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->

    <section class="call-to-action">
      <div class="container">
        <div class="row">
        </div>
      </div>
    </section>


    <section class="blog-posts">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">
                
                {% for article in articles %}
                    <div class="col-lg-12">
                  <div class="blog-post">
                    <div class="blog-thumb">
                      <img src="{{article.image.url}}" alt="{{article.title}}">
                    </div>
                    <div class="down-content">
                      <span>{{article.category.first}}</span>
                      <a href="{% url 'single-article' article.slug %}"><h4>{{article.title}}</h4></a>
                      <ul class="post-info">
                        <li><a href="#">{{article.author.username}}</a></li>
                        <li><a href="#">{{article.created}}</a></li>
                        <li><a href="#">12 Comments</a></li>
                      </ul>
                      <p>{{article.body}}</p>
                      <div class="post-options">
                        <div class="row">
                          <div class="col-6">
                            <ul class="post-tags">
                              <li><i class="fa fa-tags"></i></li>
                              <li><a href="#">Beauty</a>,</li>
                              <li><a href="#">Nature</a></li>
                            </ul>
                          </div>
                          <div class="col-6">
                            <ul class="post-share">
                              <li><i class="fa fa-share-alt"></i></li>
                              <li><a href="#">Facebook</a>,</li>
                              <li>{% post_to_whatsapp 'single-article' article.slug 'reza' %}</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
                  <div class="col-lg-12">
                  <div class="main-button">
                    <a href="{% url 'articles' %}">View All Posts</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            {% include "includes/side_bar.html" %}
          </div>
        </div>
      </div>
    </section>
{% endblock content %}

